body{
   background-color: rgb(177, 142, 209);
   background-attachment: fixed;
   background-image: url(img/Design\ sem\ nome.png);
  }

  img{
   width: 40%;
   height: 100%;
   border-radius: 0%;
}
  
  label, input, select, textarea{
      display: block ;
      width: 95%;
      padding: 10px;
      margin-bottom: 20px;
  }
  .roboto-thin {
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   }
  
   form{
      width: 550px;
      margin: auto;
      background: #f8eac3;
      padding: 40px;
      border-radius: 10px;
      color: rgb(146, 79, 17);
   }
   label{
      padding: 0;
      margin: 0;
      width: 100% ;
      font-size: 18px;
   }
   .emlinha{
      display: inline;
      width: 10%;
      font-size: 16px;
   }
   .medidas{
      display: inline;
      width: 35%;
   }
   input[type='checkbox'], input[type='radio']{
     margin-right: 0px;
     margin-left: 15px;
  }
  input:focus, select:focus, textarea:focus{
     outline: none;
     border: solid 1px #ffc493;
  }
   #enviar{
     width: 100%;
     border: 2px solid #ffa470;
     background-color: #ffb991;
     color: rgb(146, 79, 17);
     font-weight: bold;
     cursor: pointer;
     padding: 15px;
   }
   #enviar:hover{
    background-color: #e98556;
    color: #ffffff;
  transition:all linear 0.3;
   }
  
  button{
     text-align: center;
  }
